<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/student-header') %>
    <div class="main">
      <div class="report-container">
        <div class="report-header">
          <h1 class="recent-Articles">Courses Degree</h1>
        </div>
        <div class="report-body">
          <div class="report-topic-heading">
            <h3 class="t-op">Course</h3>
            <h3 class="t-op">Degree</h3>
          </div>
          <br>
          <% arrCourseNames.forEach((item,i)=> { %>
            <div class="item1">
              <h3 class="t-op-nextlvl">
                <%= item %>
              </h3>
              <!-- <h3 class="t-op-nextlvl"><%= item.level %></h3> -->
              <h3 class="t-op-nextlvl">
                <%= arrDegrees[i].degree %>
              </h3>
            </div>
            <% }); %>
        </div>
      </div>
    </div>
  </body>

</html>