<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/student-header') %>
            <main class="profile">
                <div class="container">
                    <div class="section-header">
                        <h1 class="section-title">Basic Information</h1>
                    </div>
                    <div class="section-body">
                        <div class="info-row">
                            <h3 class="info-label">Name:</h3>
                            <div class="info-value">
                                <%= objstudent?.fname %>
                                    <%= objstudent?.lname %>
                            </div>
                        </div>
                        <div class="info-row">
                            <h3 class="info-label">Level:</h3>
                            <div class="info-value">
                                <%= objstudent?.level %>
                            </div>
                        </div>
                        <div class="info-row">
                            <h3 class="info-label">Department:</h3>
                            <div class="info-value">
                                <%= objstudent?.department %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    </body>

</html>