<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/student-header') %>
            <center>
                <div class="main">
                    <div class="report-container">
                        <div class="report-header">
                            <h1 class="recent-Articles">Courses</h1>
                        </div>
                        <div class="report-body">
                            <div class="report-topic-heading">
                                <h3 class="t-op">Name</h3>
                                <!-- <h3 class="t-op">level</h3> -->
                                <h3 class="t-op">department</h3>
                                <h3 class="t-op">time</h3>
                                <h3 class="t-op">select</h3>
                            </div>
                            <br>
                            <% arrCourse.forEach(item=> { %>
                                <div class="item1">
                                    <h3 class="t-op-nextlvl">
                                        <%= item.name %>
                                    </h3>
                                    <!-- <h3 class="t-op-nextlvl"><%= item.level %></h3> -->
                                    <h3 class="t-op-nextlvl">
                                        <%= item.departmentName %>
                                    </h3>
                                    <h3 class="t-op-nextlvl">
                                      <%= item.dayName %> at <%= item.schedule.hours %> : <%= item.schedule.minutes %>
                                  </h3>
                                    <a href="select-course-toStudy/<%= item._id %>" class="btn lonbtn">show</a>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </center>
    </body>

</html>